<nav class="fd-global-nav">
  <div class="fd-global-nav__group fd-global-nav__group--left">
    <div class="fd-global-nav__side-menu">
      <button class=" fd-button--secondary fd-button--l sap-icon--menu2 fd-global-nav__btn"
      aria-label="BUTTON_LABEL"></button>
    </div>
    <div class="fd-global-nav__logo fd-has-margin-left-none"></div>
    <div class="fd-global-nav__product-name">
      {{productName}}
    </div>
  </div>
  <div class="fd-global-nav__group fd-global-nav__launchpad">
    <button class=" fd-button--secondary fd-button--l" aria-haspopup="true"
    aria-controls="launchpad">{{suiteName}}</button>
    <nav class="fd-mega-menu" aria-hidden="true" id="launchpad">
      <div class="fd-mega-menu__header">
        <a href="/" class="fd-mega-menu__header-link sap-icon--home"> Home</a>
        <a href="/products" class="fd-mega-menu__header-link sap-icon--product">Products</a>
      </div>
    </nav>
  </div>
  <div class="fd-global-nav__group fd-global-nav__group--right">
    <div class="fd-global-nav__actions">
      <div class="fd-global-nav__search">
        <button class=" fd-button--secondary fd-button--m sap-icon--search fd-global-nav__btn"
        aria-label="BUTTON_LABEL" aria-controls="3Ac1t348" aria-haspopup="true"
        aria-expanded="false"></button>
        <input type="text" class="fd-form__control" id="3Ac1t348" aria-hidden="true"
        placeholder="Search... ">
      </div>
      <button class=" fd-button--secondary fd-button--m sap-icon--action-settings fd-global-nav__btn"
      aria-label="BUTTON_LABEL"></button>
      <button class=" fd-button--secondary fd-button--m fd-global-nav__btn"
      aria-label="BUTTON_LABEL"><span class=" fd-identifier--s fd-identifier--circle">WW</span></button>
    </div>
  </div>
</nav>